---
title: IcanRead Pricing
heading: See how little you have to spend to level the playing field 
description: Pick the subscription length that fits your needs. The longer you subcribe the more you save.
canonical_url: 'https://www.icanread.io/pricing.html'
pricing_table:
  - name: Month
    price: $14.99
    period: month
    description: You pay monthly and can cancel your subscription at any time.
  - name: 6 months
    price: $74.99
    period: 6 months
    description: You pay for 6 months and save $14 as compared to the monthly price
  - name: 1 year
    price: $124.99
    period: year  
    description: You get IcanRead for a full year for just $124.99. You save $54 compared with the monthly price.
faq:
  - question: What types of payment do you accept?
    answer: Card payment including MasterCard, Visa or American Express. We also accept Google pay and Apple pay. Payments are done automatically at the beginning of a new subscription period. 
  - question: Can I cancel my subscription?
    answer: Yes, you can cancel your subscription at any time. No questions asked.
  - question: Questions?
    answer: Contact us for any further questions at <a href="mailto:info@icanread.io">info@icanread.io</a>.
---

<div class="Subscribe">
	{% for plan in page.pricing_table %}
  <div class="Offer">
    <div class="OfferName">{{ plan.name }}</div>
    <div class="OfferPrice">
      <div class="Price">{{ plan.price }}</div>
      <div class="Peroid"> / {{ plan.period }}</div>
    </div>
    <div class="OfferDescription">{{ plan.description }}</div>
    <div>
    </div>
    <a target="_blank" href="https://app.icanread.io/?nibrowser=no" class="SubscribeButton">Try it for free</a>
  </div>
	{% endfor %}
</div>

{% if page.faq %}
	<h2>Pricing FAQ</h2>
	<dl class="faq">
		{% for item in page.faq %}
			<div>
				<p><b>{{ item.question }}</b></p>
				<p>{{ item.answer }}</p>
			</div>
		{% endfor %}
	</dl>
{% endif %}
