services:
  site:
    build: .
    ports:
      - "4000:4000"
    volumes:
      - .:/app
      - bundle_cache:/usr/local/bundle
    environment:
      - JEKYLL_ENV=development

volumes:
  bundle_cache: 