
.Subscribe{
	display: flex;
	flex-direction: column;
	align-content: space-around;
	align-items: center;
	padding: 20px;
	color: white;
	font-weight: bold;
	font-size: large;
	background-color: #a4d5e0;
	margin-bottom:20px;
	margin-left: -20px;
    margin-right: -20px;
  }
.Offer{
	display: flex;
	flex-direction: column;
	align-content: space-around;
	align-items: center;
	border: white;
	border-style: solid;
	width: 90%;
	font-family: 'Comfortaa', serif;
  }
  .Offer div{
	padding-left: 20px;
	padding-right: 20px;
  }
  .Subscribe div {
	text-align: center;
	margin-top: 20px;
  }
  .OfferName{
	font-size: 44px;
  }
  .OfferPrice .Price{
	font-size: 66px;
	margin-top: 0px;
  }
  .OfferPrice .Period{
	margin-top: 0px;
  }
  .OfferDescription{
	color: #78949b;
  }
  .OfferDescription b{
	font-weight: 900;
	color: #5f767b;
  }
  .OfferMark{
	position: absolute;
	right: 5%;
	transform: rotate(30deg);
	background-color: #ef7c8f;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 5px;
  }
  .OfferMark._2{
	background-color: #7777bf;
  }
  .SubscribeButton{
	background-color: #35CCA9;
	padding: 20px 40px 20px 40px;
	border-radius: 15px;
	margin-bottom: 20px;
	color:white;
  }

.faq {
	@media #{$desktop} {
		@include columns(2);
	}
	color: #666;
	div {
		break-inside: avoid;
		padding: 25px 0;
	}

}
