$brand-color: #a4d5e0;
$secondary-brand-color: #35cca9;
$middle-gradient-color:  #a4d5e0; 

// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 620px)";
$desktop: "(min-width: 768px)";
