---
title: IcanRead Pricing
heading: Se hur lite du behöver spendera för att jämna ut skillnaden
description: Välj abonnemanget som passar dig. Ju längre du abonnerar desto mer sparar du.
pricing_table:
  - name: Månad
    price: 149kr
    period: månad
    description: Du betalar per månad och kan när som helst avsluta ditt abonnemang.
  - name: 6 månader
    price: 749kr
    period: 6 månader
    description: Du betalar för 6 månader och sparar 145 kr jämfört med månadspriset.
  - name: 1 år
    price: 1249kr
    period: år  
    description: Du får IcanRead ett helt år för endast 1249kr. Du sparar hela 539kr jämfört med månadspriset.
faq:
  - question: What types of payment do you accept?
    answer: Credit cards including MasterCard, Visa or American Express. We also accept Google pay and Apple pay.
  - question: Can I cancel my subscription?
    answer: Yes, you can cancel your subscription at any time. No questions asked.
  - question: Questions?
    answer: Contact us for any further questions at <a href="email:info@icanread.io">info@icanread.io</a>.
---

<div class="Subscribe">
	{% for plan in page.pricing_table %}
  <div class="Offer">
    <div class="OfferName">{{ plan.name }}</div>
    <div class="OfferPrice">
      <div class="Price">{{ plan.price }}</div>
      <div class="Peroid"> / {{ plan.period }}</div>
    </div>
    <div class="OfferDescription">{{ plan.description }}</div>
    <div>
    </div>
    <a href="https://app.icanread.io" class="SubscribeButton">Try it for free</a>
  </div>
	{% endfor %}
</div>

{% if page.faq %}
	<h2>Pricing FAQ</h2>
	<dl class="faq">
		{% for item in page.faq %}
			<div>
				<p><b>{{ item.question }}</b></p>
				<p>{{ item.answer }}</p>
			</div>
		{% endfor %}
	</dl>
{% endif %}
