---
title: IcanRead Pricing
heading: Se hur lite du behöver spendera för att jämna ut skillnaden
description: Välj abonnemanget som passar dig. Ju längre du abonnerar desto mer sparar du.
lang: sv
pricing_table:
  - name: Månad
    price: 149kr
    period: månad
    description: Du betalar per månad och kan när som helst avsluta ditt abonnemang.
  - name: 6 månader
    price: 749kr
    period: 6 månader
    description: Du betalar för 6 månader och sparar 145 kr jämfört med månadspriset.
  - name: 1 år
    price: 1249kr
    period: år  
    description: Du får IcanRead ett helt år för endast 1249kr. Du sparar hela 539kr jämfört med månadspriset.
faq:
  - question: Vilka betalsätt kan jag använda?
    answer: Kreditkort som MasterCard, Visa or American Express. Du kan också använda Google pay och Apple pay.
  - question: Kan jag avbryta mitt abonnemang?
    answer: Ja, du kan avbrya när du vill.
  - question: Frågor?
    answer: Kontakta oss på mail på <a href="mailto:info@icanread.io">info@icanread.io</a>.
---

<div class="Subscribe">
	{% for plan in page.pricing_table %}
  <div class="Offer">
    <div class="OfferName">{{ plan.name }}</div>
    <div class="OfferPrice">
      <div class="Price">{{ plan.price }}</div>
      <div class="Peroid"> / {{ plan.period }}</div>
    </div>
    <div class="OfferDescription">{{ plan.description }}</div>
    <div>
    </div>
    <a href="https://app.icanread.io" class="SubscribeButton">Prova gratis nu</a>
  </div>
	{% endfor %}
</div>

{% if page.faq %}
	<h2>Frågor om pris</h2>
	<dl class="faq">
		{% for item in page.faq %}
			<div>
				<p><b>{{ item.question }}</b></p>
				<p>{{ item.answer }}</p>
			</div>
		{% endfor %}
	</dl>
{% endif %}
